* {
    box-sizing: border-box;
}


:root {
  --line-border-fill:#3498db;
  --line-border-empty:#e0e0e0;

}

body {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 450px;
  
}
.progress-container::before {

  content: '';
  background-color:var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;

}

  .progress{

    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
  
  }

  .circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
  }
  
  .circle.active {
    border-color: var(--line-border-fill);

  }
  .btns {
    display: flex;
    justify-content: center;

  }
  .btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 8px 30px;
    cursor: pointer;

  }
  .btn:active{
    transform: scale(0.95);
  }

  .btn:focus{
    outline:0;
  }
  .btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;

  }