

*{ box-sizing: border-box;

}

body{
    background-color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: lightseagreen;
    border-radius: 10px;
    margin: 1rem;
    color: white;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}
.btn:hover{
    opacity: 0.8;
}
