

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.btn {
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:active{
    transform: scale(0.98);
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin:0.5rem;
}